.book-register-form {
    background-color: #fffbe6;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top:30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .book-register-form h2 {
    text-align: center;
  }
  .book-register-form input,
  .book-register-form textarea,
  .book-register-form select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .book-register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-container {
    display: flex;
    gap: 0;
    justify-content: flex-start; /* 버튼을 왼쪽으로 정렬 */
    
    margin-top: 20px;
    width: 80%;
    margin: 10px auto;
    padding-right: 10%;
  }
  .button-container button {
    flex: 0 1 150px;
    padding: 16px;
    background-color: white;
    color: #333;
    border: 1px solid #ebdada;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 60px;
    gap:5px;
    transition: all 0.3s ease;
  }
  .button-container button:hover {
    background-color: #f0f0f0;
  }
  