.book-recommendation-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  /* 중앙 정렬 */
}

.book-lists {
  width: 100%;
  max-width: 1200px;  /* 최대 너비 설정 */
  margin-top: 20px;
  text-align: center;
}

.book-containers {
  display: flex;
  flex-wrap: wrap;  /* 여러 줄로 감싸기 */
  justify-content: center;  /* 중앙 정렬 */
  gap: 25px;  /* 책 카드 간 간격 */
}

.book-cardd {
  width: 150px;  /* 책 카드의 너비 */
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.book-cardd:hover {
  transform: scale(1.05);  /* 호버 시 약간 확대 효과 */
}

.book-cardd img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.no-books {
  text-align: center;
  margin-top: 50px;
}

.register-button-container {
  margin-top: 30px;
  text-align: center;
}

.register-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff20093;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 50px;
}

.register-button-container button:hover {
  background-color: #fff20093;  /* 버튼 호버 색상 */
}
