@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* 전체 헤더 스타일 */
.header {
  
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
}

/* 회원가입 및 로그인 */
.auth-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.auth-section a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 5px;
}

.logo-title-group {
  display: flex;
  align-items: center;
  position: absolute;
  left: 100px;
  z-index: 1;
  margin-top: 30px;
  gap:10px;
}

.logo {
  width: 50px;
  height: 50px;
}

.title {
  height: 30px;
  width: auto;
}

/* 검색창 */
.search-bar {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: #f6f0fa;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: auto;
}

/* 메뉴 버튼 (검색창 왼쪽 끝 내부) */
.menu-button {
  width: 35px;
  height: 35px;

}

/* 검색 입력창 */
.search-input {


  border: none;
  background-color: transparent;
  font-size: 20px;

}

.search-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-input:focus {
  outline: none;
}

/* 검색 아이콘 (검색창 오른쪽 끝) */
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;

}

.search-icon img {
  width: 35px;
  height: 35px;
}

/* 메뉴 */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 80px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 21px;
  font-weight: 500;
}

.nav-menu a:hover {
  text-decoration: underline;
}