
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.high-books {
    display: flex;
    align-items: flex-start; 
    padding: 20px;
    gap: 40px; 
    margin-top: 25px;
  }
  
  .left-section {
    flex: 1; 
    text-align: center;
    padding-top: 10px; 
  }
  
  .section-title {
    font-size: 21px;
    font-weight: 400;
    line-height: 7;
  }
  

  .right-section {
    flex: 4; 
  }
  
  .books-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap; 
    justify-content: flex-start;
  }
  
  
  .book-card-high {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }

  .book-card-high:hover {
    transform: translateY(-10px); /* 위로 10px 이동 */
  }
  
  .book-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .book-title {
    font-size: 16px !important;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  
  .book-rating {
    font-size: 12px;
    font-weight: bold;
    color: #ffa41b;
    margin-top: 0px;
  }
  