
.notice-section {
  padding: 0 20px;
}


.notice {
  display: flex;
  gap: 20px; 
  align-items: center;
  padding: 20px 0;
}

.notice-title {
  font-size: 20px;
  font-weight: 400; 
}

.notice-content {
  font-size: 20px;
  font-weight: 400;
  color: #555;
}


.divider {
  border-top: 2px solid #ddd; 
  margin: 20px 10; 

}


.footer {
  text-align: center;
}

.footer p {
  font-size: 21px;
  color: #888;
  font-weight: 200; }
