.signup-container {
    max-width: 460px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .logo {
    display: block;
    margin: 0 auto 1rem;
    max-width: 150px;
  }
  
  .title {
    display: block;
    margin: 0 auto 2rem;
    max-width: 200px;
  }
  .signup-form {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .input-field {
    width: 90%;
    padding: 12px;
    padding-left: 35px;
    border: 1px solid #dadada;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
  }
  
  .input-field:focus {
    border-color: #03c75a;
  }
  
  
  
  .toggle-visibility {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #8e8e8e;
  }
  
  .submit-button {
    width: 100%;
    padding: 15px;
    background-color: #03c75a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #02b150;
  }
  
  /* 반응형 디자인 */
  @media (max-width: 480px) {
    .signup-container {
      padding: 10px;
    }
    
    .input-field {
      font-size: 14px;
    }
  }